<ion-header>
  <ion-navbar>
    <ion-title>
      SchichtRadl
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addEvent()">
        <ion-icon class="addEventButton" name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="calendar-header">
    <ion-row class="calendar-month">
      <ion-col col-2 (click)="goToLastMonth()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-col>
      <ion-col col-8>{{currentMonth}} {{currentYear}}</ion-col>
      <ion-col col-2 (click)="goToNextMonth()">
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <div class="calendar-body" (swipe)="swipe($event)">
    <ion-grid>
      <ion-row class="calendar-weekday">
        <ion-col>Mo</ion-col>
        <ion-col>Di</ion-col>
        <ion-col>Mi</ion-col>
        <ion-col>Do</ion-col>
        <ion-col>Fr</ion-col>
        <ion-col>Sa</ion-col>
        <ion-col>So</ion-col>
      </ion-row>
      <ion-row class="calendar-date">
        <!-- <ion-col col-1 *ngFor="let lastDay of daysInLastMonth" class="last-month" (click)="goToLastMonth()">{{lastDay}}</ion-col>-->
        <ion-col col-1 *ngFor="let day of allDays" (click)="selectDate(day)">
          <span class="currentDate" *ngIf="currentDate === day; else otherDate">{{day}}</span>
          <ng-template #otherDate class="otherDate">
            {{day.day}}<br>
            <ion-icon class="nightShift" name="cloudy-night" *ngIf="day.shift === 'N'"></ion-icon>
            <ion-icon class="lateShift" name="sunny" *ngIf="day.shift === 'S'"></ion-icon>
            <ion-icon class="earlyShift" name="partly-sunny" *ngIf="day.shift === 'F'"></ion-icon>
          </ng-template>
        </ion-col>
        <!--<ion-col col-1 *ngFor="let nextDay of daysInNextMonth" class="next-month" (click)="goToNextMonth()">{{nextDay}}</ion-col>-->
      </ion-row>
    </ion-grid>
  </div>
  <ion-segment [(ngModel)]="shifts" (ionChange)="shiftsChange($event)">
    <ion-segment-button value="shiftA" isActive="true">
      A
    </ion-segment-button>
    <ion-segment-button value="shiftB">
      B
    </ion-segment-button>
    <ion-segment-button value="shiftC">
      C
    </ion-segment-button>
    <ion-segment-button value="shiftD">
      D
    </ion-segment-button>
    <ion-segment-button value="shiftE">
      E
    </ion-segment-button>
  </ion-segment>

  <div class="selected-event" *ngIf="isSelected">
    <ion-list>
      <ion-item *ngFor="let se of selectedEvent">
        <ion-buttons end>
          <button ion-button clear icon-only (click)="deleteEvent(se)">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-buttons>
        <h2>{{se.title}}</h2>
        <h3>{{se.message}}</h3>
        <p>Start Date: {{se.startDate}}<br>
          Start Date: {{se.endDate}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>


