page-home {
  [col-1] {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 8.33333%;
    -ms-flex: 0 0 8.33333%;
    flex: 0 0 14.285714285714286%;
    width: 14.285714285714286%;
    max-width: 14.285714285714286%;
  }
  .addEventButton {
    color: #2ec95c;
  }
  .col {
    text-align: center;
    padding: 5px;
  }
  .last-month, .next-month {
    color: #999999;
    font-size: 90%;
  }
  .currentDate, .otherDate {
    padding: 5px;
  }
  .currentDate {
    font-weight: bold;
    background-color: red;
    color: white;
    border-radius: 30px;
  }
  .calendar-header {
    background-color: #003569;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    border-bottom: 0 none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  }
  .event-bullet {
    margin: 2px auto;
    height: 5px;
    width: 5px;
    background-color: green;
    border-radius: 30px;
  }
  .selected-date {
    width: 20px;
    height: 2px;
    background-color: blue;
  }
  .unselected-date {
    border: none;
  }
  .calendar-body {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

    .grid {
    }
    .col{
    }
    .col:last-child {
      border-right: none;
    }
    .calendar-weekday, .calendar-date {
      font-size: 17px;
      text-align: center;
      margin: 0;
      border-radius: 3px;
      .col{

      }
    }
    .calendar-weekday {
      font-weight: bold;
      background-color: #3abf4c;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    }
    .calendar-date {
      font-size: 15px;
    }
  }
}

.earlyShift {
  color: #ff5829;
}

.lateShift {
  color: #ffe423;
}

.nightShift {
  color: #0061ff;
}

.segment {
  padding-top: 10px;

  //ion-segment-button.segment {
  //}
  //ion-segment-button.segment-button:first-of-type {
  // }
  //  ion-segment-button.segment-button:not(:first-of-type) {
  // }

  ion-segment-button.segment-button {
    border-radius: 90px 90px 90px 90px;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 3.4rem;
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
    background: #84b1ca;
    color: #fff;
    font-family: Sans-serif;
    font-size: 20px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
  }

  ion-segment-button.segment-button.segment-activated{
    background: #3abf4c;
  }
}
.wrapper {
  height: 15px;
  width: 15px;
}



